<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>OaaS - Caller Info</title>
        <link rel="icon" href="img/favicon.ico"/>
        <!-- CSS FILES -->
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/uikit/dist/css/uikit.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </div>
</head>
<body>
<div th:fragment="header" class="uk-offcanvas-content">
    <!--HEADER-->
    <header>
        <div class="uk-container">
            <nav class="uk-navbar-transparent" th:data="data-uk-navbar">
                <div class=" uk-navbar-nav">
                    <a class="uk-navbar-item uk-logo" href="#"><img class="logo"/></a>
                </div>
            </nav>
        </div>
    </header>
    <!--/HEADER-->
</div>
</body>
</html>