<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<!-- CONTENT -->
<div class="uk-background-cover header">

    <h1 class="uk-heading-primary uk-text-center uk-h1 uk-flex uk-flex-center uk-flex-middle"
        th:text="${'OaaS Consumers - '+ stage}"></h1>
</div>

<section class="uk-section uk-section-muted">
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-card-hover card-spacer" th:each="consumerBlock : ${consumerBlockList}">
            <div class="uk-card-header">
                <h3 class="uk-card-title" th:text="${consumerBlock.consumerInfo}"></h3>
            </div>

            <div class="uk-card-body">
                <div class="uk-overflow-auto">
                    <table class="uk-table uk-table-hover">
                        <thead>
                        <tr>
                            <th>Consumer CN</th>
                            <th>Operations</th>
                            <th>Stages</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="consumer : ${consumerBlock.consumers}">
                            <td class="table_cn" th:text="${consumer.commonName}"></td>
                            <td>
                                <p class="infospan" th:each="operation : ${consumer.operations}"
                                   th:text="${operation}"></p>
                            </td>
                            <td class="stages" th:text="${consumer.stages}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
